@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400;500&display=swap');

// Fonts

$first-font: 'Playfair Display', serif;
$second-font: 'Roboto', sans-serif;

// Colors

$light-blue: #dbe2ef;
$blue: #3f72af;
$dark-blue: #112d4e;

$grey: #666666;
$light-grey: #f9f7f7;
$white: #ffffff;
$black: #1a1a1a;

// Media


$tablet-size: 1025px;
$middle-size: 769px;
$phone-size: 480px;